#game-container {
    position: relative;
    text-align: center;
}

#game-image {
    width: 30%;
    height: auto;
    cursor: pointer;
}

#answer-indicator {
    position: absolute;
    border: 2px solid green;
    border-radius: 50%;
    pointer-events: none;
    display: none;
}

#health {
    margin-top: 10px;
    font-size: 20px;
}

#game-info {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

#next-level,
#restart-game {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}